@import url('https://fonts.googleapis.com/css2?family=Inika');

*{
    box-sizing: border-box;
    background-position: center;
}
:root {
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.navbar {
    height: 8vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    background-repeat: repeat;
    background-color: rgb(255, 213, 150);
    font-size: large;
    text-align: center;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    background-image: url(../img/StoneTexture.jpg);
    z-index: 1;
    background-blend-mode:multiply;
    align-items: center;
}
.navbut {
    height: 5.5vh;
    text-decoration: none;
    background-color: #C29B64;
    border-radius: 7px;
    border-width: 2px;
    border-color: #F8D042;
    border-style: solid;
    text-align: center;
    font-size: 36px;
    color: white;
    z-index: 2;
    width: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbut:hover {
    background-color: #a58556;
}
.homebut {
    background-image: url(../img/Logo.png);
    background-size: 128px;
    width: 128px;
    height: 128px;
    position: relative;
    top: 50%;
    z-index: 2;
}
.dropdown {
    cursor: pointer;
}
.dropdownText {
    margin: 0%;
}
.arrow {
    height: 32px;
    width: 32px;
    background: url('https://api.iconify.design/eva/arrow-up-fill.svg?color=white&flip=vertical') no-repeat center center / contain;
}
.head{
    font-size: xx-large;
    margin-top: 8%;
    color: white;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url(../img/LeavesBackground.jpg);
    background-size: cover;
}
.dino_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    color: white;
    background-image: url(../img/StoneTexture.jpg);
    background-color: #C29B64;
    background-repeat: repeat;
    padding: 8px;
    padding-top: 0px;
    border-radius: 7px;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
h2{
    font-size: 500%;
    color: white;
    border-bottom: 5px solid white;
    margin-left: 5%;
    margin-right: 5%;
}
.dino_img{
    max-width: 150px;
    max-height: 150px;
}





.dino_a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;   
}
.dino_c{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_d{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_e{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_g{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_k{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_m{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_r{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_s{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_t{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_u{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_v{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_y{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_z{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
footer{
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background-color: #5C443A;
    height: 8vw;
}





