@import url('https://fonts.googleapis.com/css2?family=Inika');

:root {
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
}
.navbar {
    font-family: 'Inika', serif;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100vw;
    background-repeat: repeat;
    background-color: rgb(255, 213, 150);
    top: 0px;
    left: 0px;
    font-size: large;
    text-align: center;
    z-index: -1;
    padding: 10px;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
}
.navbar {
    background-repeat: repeat;
    position: fixed;
    background-image: url(../img/StoneTexture.jpg);
    width: 100vw;
    height: 6%;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-blend-mode:multiply;
}
.navbut {
    text-decoration: none;
    background-color: #C29B64;
    padding: 8px;
    padding-top: 0px;
    border-radius: 7px;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    text-align: center;
    font-size: 36px;
    color: white;
    z-index: 2;
    padding-left: 2%;
    padding-right: 2%;
}
.navbut:hover {
    background-color: #a58556;
}
.homebut {
    background-image: url(../img/Logo.png);
    background-size: 96px;
    width: 96px;
    height: 96px;
    position: relative;
    top: 10%;
    z-index: 2;
}
.head{
    font-size: xx-large;
    margin-top: 8%;
    color: white;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url(../img/LeavesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dino_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: white;
    background-image: url(../img/StoneTexture.jpg);
    background-color: #C29B64;
    background-repeat: repeat;
    padding: 8px;
    padding-top: 0px;
    border-radius: 7px;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
}
h2{
    font-size: 500%;
    color: white;
    border-bottom: 5px solid white;
    margin-left: 5%;
    margin-right: 5%;
}
.dino_a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;   
}
.dino_c{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_d{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_e{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_g{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_k{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_m{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_r{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_s{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_t{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_u{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_v{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_y{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
.dino_z{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}





