@import url('https://fonts.googleapis.com/css2?family=Inika');

.navbar {
    font-family: 'Inika', serif;
}

*{
    box-sizing: border-box;
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0px;
    margin: 0px;
}
.navbar {
    height: 8vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    background-repeat: repeat;
    background-color: rgb(255, 213, 150);
    font-size: large;
    text-align: center;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    background-image: url(../img/StoneTexture.jpg);
    z-index: 1;
    background-blend-mode:multiply;
    align-items: center;
}
.navbut {
    height: 5.5vh;
    text-decoration: none;
    background-color: #C29B64;
    border-radius: 7px;
    border-width: 2px;
    border-color: #F8D042;
    border-style: solid;
    text-align: center;
    font-size: 36px;
    color: white;
    z-index: 2;
    width: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbut:hover {
    background-color: #a58556;
}
.homebut {
    background-image: url(../img/Logo.png);
    background-size: 128px;
    width: 128px;
    height: 128px;
    position: relative;
    top: 50%;
    z-index: 2;
}
.dropdown {
    cursor: pointer;
}
.dropdownText {
    margin: 0px;
}
.arrow {
    height: 32px;
    width: 32px;
    background: url('https://api.iconify.design/eva/arrow-up-fill.svg?color=white&flip=vertical') no-repeat center center / contain;
}
body{
    background-image: url(../img/LeavesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h2{
    margin-top: 8%;
    text-align: center;
}.description{
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background-color: #5C443A;
    height: 8vw;
}