@import url('https://fonts.googleapis.com/css2?family=Inika');

.navbar, .dropbtn {
    font-family: 'Inika', serif;
}

:root {
    padding: 0;
    margin: 0;
    color: white;
}
*{
    box-sizing: border-box;
    background-position: center;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0px;
    margin: 0px;
}
.navbar {
    height: 8vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    background-repeat: repeat;
    background-color: rgb(255, 213, 150);
    font-size: large;
    text-align: center;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    background-image: url(../img/StoneTexture.jpg);
    z-index: 1;
    background-blend-mode:multiply;
    align-items: center;
}
.navbut, .dropbtn {
    height: 5.5vh;
    text-decoration: none;
    background-color: #C29B64;
    border-radius: 7px;
    border-width: 2px;
    border-color: #F8D042;
    border-style: solid;
    text-align: center;
    font-size: 36px;
    color: white;
    z-index: 2;
    width: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbut:hover {
    background-color: #a58556;
}
.homebut {
    background-image: url(../img/Logo.png);
    background-size: 128px;
    width: 128px;
    height: 128px;
    position: relative;
    top: 50%;
    z-index: 2;
}
.dropdownText {
    margin: 0px;
}.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C29B64;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1100;
}
.dropdown-content a {
    color: #fff;
    padding: 10% 2.5vw;
    text-decoration: none;
    display: block;
    border-style: dashed;
    border-color: #F8D042;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn, .dropdown-content a:hover {background-color: #a58556;}
body{
    background-image: url(../img/LeavesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h2{
    margin-top: 10%;
    text-align: center;
}
.students{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.student{
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 10%;
    height: 14vw;
    color: white;
    background-image: url(../img/StoneTexture.jpg);
    background-color: #C29B64;
    background-repeat: repeat;
    padding: 8px;
    padding-top: 0px;
    border-radius: 7px;
    border-width: 5px;
    border-color: #F8D042;
    border-style: solid;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3%;
    background-position: Left;
    transition: transform 0.3s ease-in-out, border-color 0.5s, width 0.5s, margin-right 0.5s;
    overflow: hidden;
}
.bio {
    text-align: left;
    display: none;
    height: 100%;
    padding: 5%;
    margin-top: 0vw;
    margin-left: 5%;
    padding-top: 0%;
    transition: opacity .5s;
    background-color: rgba(101, 56, 0, 0.50);
    border-radius: 15px;
}
.name {
    font-size: 1.8vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
}
.student:hover{
    transform: translateY(-10px);
    border-color: #bfa032;
    width: 40%;
    margin-right: 0%;
    content: gogpifpiygou;
    
    .bio {
        display: flex;
    }
}
.portrait-container {
    margin: 0%;
}
.portrait{
    max-width: 4vw;

}
.portrait-container {
    margin-bottom: 0vw;
}
footer{
    margin-top: 10%;
    margin-bottom: 0%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background-color: #5C443A;
    height: 8vw;
}